@model IEnumerable<RecipeManager.Models.Ingredient>

@{
    ViewBag.Title = "Ingredients";
}

<h2>Ingredients</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    @foreach (var item in Model.GroupBy(i => i.RecipeID))
    {
        <tr>
            <td colspan="3">
                <b>  @Html.DisplayFor(modelItem => Model.FirstOrDefault(i => i.RecipeID == item.Key).Recipe.Name)</b>
            </td>
        </tr>
        foreach (var ingredient in item)
        {
            <tr>
                <td>&nbsp;</td>
                <td>
                    @Html.DisplayFor(modelItem => ingredient.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = ingredient.IngredientID }) |
                    @Html.ActionLink("Details", "Details", new { id = ingredient.IngredientID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = ingredient.IngredientID })
                </td>
            </tr>
        }
    }

</table>
